.App {
  text-align: center;
  background-color: aliceblue;
}

.words {
  color: rgb(0, 38, 255);
}

.signin {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  align-items: center;
}

.clean {
  text-decoration: none;
  color: white;
}

.btn-home {
  background-color: rgb(0, 197, 231) !important;
}

.btn-workouts{
  background-color: rgb(4, 74, 165) !important;
}

.btn-profile {
  background-color: rgb(2, 2, 151) !important;
}