.App {
  text-align: center;
  background-color: aliceblue;
}

.words {
  color: rgb(0, 38, 255);
}

.signin {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  align-items: center;
}

.clean {
  text-decoration: none;
  color: white;
}

.btn-workouts{
  background-color: rgb(114, 5, 114) !important;
}