.add-exercise{
    color: navy;
}

.wn {
    width: 77%;
    background-color: rgb(72, 221, 221);
    color: black;
}

.half{
    background-color: rgb(72, 221, 221);
    color: black;
    width: 38.5%;
}

.searchbar{
    background-color: rgb(72, 221, 221);
    width: 35%;
    color: black;
}

.exerciseform{
    background-color: rgb(72, 221, 221);
    color: black;
}

.workout {
    margin-right: 15%;
    margin-left: 15%;
    width: 70%;
}

.del {
    margin-right: 36%;
    margin-left: 41%;
    width: 23%;
}